<!DOCTYPE html>
<!-- hier begint de Film - voorheen - Privacy pagina -->
<html>
<head>
    <title>Cinema Website - Films</title>
    <link rel="stylesheet" type="text/css" href="films.css">
</head>
<body>

    <div class="text-center">
        <h1>Films</h1>
    </div>

    <div class="d-flex justify-content-around">

        <!-- blok voor kinderen 6 tot en met 11 jaar -->
        <div class="film p-4 border border-4 border-dark"> <!-- met bootstrap classes maken we een zwarte/dark rand/border met dikte 4 -->
            <h1>6 t/m 11 jaar</h1>
            <p>Wij hebben leuke films voor kinderen van 6 tot 11 jaar. Deze films draaien in de middag tussen 13:00 en 18:00 uur.<p>
            <!-- om de button te centreren gebruiken we een div -->
            <div class="text-center">
               <a href="/Home/FilmsKinderen" class="btn btn-dark" role="button">Link Button</a>
            </div>
        </div>
        
        <!-- blok voor kinderen 12 tot en met 17 jaar -->
        <div class="film p-4 border border-4 border-dark">
            <h1>12 t/m 17 jaar</h1>
            <p>Wij hebben leuke films voor kinderen van 12 tot 17 jaar. Deze films draaien in de namiddag tussen 18:00 en 22:00 uur.<p>
            <div class="text-center">
                <a href="/Home/FilmsJongeren" class="btn btn-dark" role="button">Link Button</a>
            </div>
        </div>

        <!-- blok voor 18+ -->
        <div class="film p-4 border border-4 border-dark">
            <h1>18+</h1>
            <p>Wij hebben leuke films voor volwassenen. Deze films draaien in de avond/nacht tussen 22:00 en 02:00 uur.<p>
            <!-- we maken een button met een kliklink naar de pagina met films voor 18+ -->
            <div class="text-center">
                <a href="/Home/FilmsVolwassenen" class="btn btn-dark" role="button">Link Button</a>
            </div>
        </div>

    </div>


    <div class="search-bar">
        <input type="text" placeholder="Zoeken...">
        <input type="submit" value="Zoek">
    </div>

</body>
</html>
