<!DOCTYPE html>
<!-- hier begint de Film - voorheen - Privacy pagina -->
<html>
<head>
    <title>Cinema Website - Films</title>
    <link rel="stylesheet" type="text/css" href="films.css">
</head>
<body>

    <div class="text-center">
        <h1>Films</h1>
    </div>

 
    <!-- hieronder de tabellen die eigenlijk op aparte pagina's thuishoren -->

        <div class="film-category-column">
            <h2>6-11 jaar</h2>
            <p>Wij hebben leuke films voor kinderen van 12 tot 17 jaar. Deze films draaien in begin van de avond tussen 18:00 en 22:00 uur.<p>
           <!-- Films for 6-11 years old -->
            <table class="table table-hover"> <!-- we introduceren hover zodat je ziet welke rij je selecteert -->
            <!-- deze tabel moet eigenlijk dynamisch uit de database worden opgebouwd,
                echter de database werkt niet dus hebben we een vaste pagina gemaakt
                zo ontstaat er toch een beeld van hoe de pagina eruit moet zien.
                We klikken ook niet door vanuit de tabel naar het bestelformulier voor de specifieke film.
            -->
            <thead style="text-align:left"> <!-- we maken een header voor de kolommen van de tabel -->
            <tr>
                <th>Film</th>
                <th>Prijs</th>
                <th>Aantal</th>
                <th>Soort</th>
                <th>Zaal</th>
                <th>Duur</th>
                <th>Aanvangstijden</th>
            </tr>
            </thead>
            <tbody> <!-- de rijen met gegevens komen in tbody -->
            <tr>
                <td>Mummies</td>
                <td>€ 5,00</td>
                <td>één kaartje</td>
                <td>enkele stoel</td>
                <td>zaal 1</td>
                <td>75 minuten</td>
                <td>13:00 - 14:30 - 16:00</td>
            </tr>
            <tr>
                <td>Mummies</td>
                <td>€ 12,50</td>
                <td>twee kaartjes</td>
                <td>dubbele stoel</td>
                <td>zaal 1</td>
                <td>75 minuten</td>
                <td>13:00 - 14:30 - 16:00</td>
            </tr>
            <tr>
                <td>Kung Fu Leeuw</td>
                <td>€ 6,00</td>
                <td>één kaartje</td>
                <td>enkele stoel</td>
                <td>zaal 2</td>
                <td>65 minuten</td>
                <td>13:00 - 14:30 - 16:00</td>
            </tr>
            <tr>
                <td>Kung Fu Leeuw</td>
                <td>€ 15,00</td>
                <td>twee kaartjes</td>
                <td>dubbele stoel</td>
                <td>zaal 2</td>
                <td>65 minuten</td>
                <td>13:00 - 14:30 - 16:00</td>
            </tr>
            <tr>
                <td>De Zwanenprinses</td>
                <td>€ 8,00</td>
                <td>één kaartje</td>
                <td>enkele stoel</td>
                <td>zaal 3</td>
                <td>70 minuten</td>
                <td>13:00 - 14:30 - 16:00</td>
            </tr>
            <tr>
                <td>De Zwanenprinses</td>
                <td>€ 20,00</td>
                <td>twee kaartjes</td>
                <td>dubbele stoel</td>
                <td>zaal 3</td>
                <td>70 minuten</td>
                <td>13:00 - 14:30 - 16:00</td>
            </tr>
            </tbody>
                <!-- Add more films as needed -->
            </table>
        </div>

    <div class="text-center">
        <a href="/Home/Films" class="btn btn-dark" role="button">Terug naar Filmoverzicht</a>
    </div>

    <div class="search-bar">
        <input type="text" placeholder="Zoeken...">
        <input type="submit" value="Zoek">
    </div>

</body>
</html>
