<!DOCTYPE html>
<html lang="en">
<head class="homepage">
  <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cinema Website</title>
</head>
<body onload="checkCookie()" class="homepage">
  <div class="container">
    <h1>Welkom bij Galaxy-Scoop!</h1>
    <p>Ontdek de nieuwste films en kom naar Galaxy-Scoop voor een onvergetelijke ervaring</p>
  </div>

   <div class="image-container">
    <img src="https://images.immediate.co.uk/production/volatile/sites/3/2023/05/fast-x-poster-71ac019.jpg?quality=90&webp=true&resize=1000,667.jpg">
    <img src="https://upload.wikimedia.org/wikipedia/en/b/bd/Spider-Man_Far_From_Home_poster.jpg">
  </div>

</body>

</html>