<!DOCTYPE html>
<html lang="en">
<head class="homepage">
  <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cinema Website</title>
</head>
<body onload="checkCookie()" class="homepage">
  <div class="container">
    <h1>Welkom bij Galaxy-Scoop!</h1>
    <p>Ontdek de nieuwste films en kom naar Galaxy-Scoop voor een onvergetelijke ervaring</p>
  </div>
</body>

</html>
