<!DOCTYPE html>
<html lang="en">
<!-- hier begint de index van de homepage -->
<head class="homepage">
  <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
  <!-- laden van de stylesheet -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galaxy Scoop - Cinema Website</title>
  <!-- Titel van de website -->
</head>

<body onload="checkCookie()" class="homepage">
<!-- opbouwen van de pagina -->

  <!-- Welkom tekst op de website -->
  <div class="container">
    <h1>Welkom bij Galaxy-Scoop!</h1>
    <p>Ontdek de nieuwste films en kom naar Galaxy-Scoop voor een onvergetelijke ervaring.</p>
  </div>

   <div class="spiderman"> 
    <img src="https://upload.wikimedia.org/wikipedia/en/b/bd/Spider-Man_Far_From_Home_poster.jpg" onclick="navigateToPage('http://localhost:5183/Home/Films')">    
  </div>

    <script>
        function navigateToPage(url) {
            window.location.href = url;
        }
    </script>

    <div class="fastf">
        <img src="https://fr.web.img6.acsta.net/pictures/23/03/15/09/50/0125350.jpg/r_300_x" onclick="navigateToPage('http://localhost:5183/Home/Films')">
    </div>

    <script>
        function navigateToPage(url) {
            window.location.href = url;
        }
    </script>

    <div class="mario">
        <img src="https://media.pathe.nl/gfx_content/PathePartners/movie-26491-Super%20Mario%20v.2.png" onclick="navigateToPage('http://localhost:5183/Home/Films')">
    </div>

    <script>
        function navigateToPage(url) {
            window.location.href = url;
        }
    </script>

    <div class="search-bar">
        <input type="text" placeholder="Zoeken...">
        <input type="submit" value="Zoek">
    </div>

    

</body>

</html>