<!DOCTYPE html>
<!-- hier begint de Informatie pagina -->
<html>
<head>
    <title>Cinema Website - Films</title>
    <link rel="stylesheet" type="text/css" href="films.css">
    <!-- we gebruiken voor eenheid in de pagina's dezelfde css als bij films -->
</head>
<body>

    <div class="text-center">
        <h1>Informatie</h1>
    </div>

    <div class="d-flex justify-content-around">

        <!-- blok informatie over schermen -->
        <div class="film p-4 border border-4 border-dark"> <!-- met bootstrap classes maken we een zwarte/dark rand/border met dikte 4 -->
            <h1>Schermen</h1>
            <p>Onze schermen zijn zo groot. Je denkt bijna dat je in de film zit.<p>
            <p>Technische details: materiaal van het doek.......<p>
            <p>Afmetingen scherm : 4 meter hoog bij 8 meter breed.<p>
            <p>Onze bioscoop bestaal al 10 jaar en staat zich bekend om de goede scherm en geluidskwaliteit die het heeft. Met jaarlijkse renovaties en met aankoop van de nieuwste schermen en speakers willen wij onze klanten de beste ervaring bieden als dank voor de dagelijkse support die ze ons geven.</p>
        </div>

        <!-- blok informatie over geluid -->
        <div class="film p-4 border border-4 border-dark">
            <h1>Geluid</h1>
            <p>Wij hebben een prachtig geluidsysteem. Niet te hard maar wel zodanig dat je helemaal in de film zit.<p>
            <p>Technische details: Dolby surround<p>
            <p>Aantal boxen : iedere zaal heeft 80 boxen varierend van 30 tot 100 watt<p>
            <p>Ook het geluidssysteem met de nieuwste speakers laat de kijker overgetelijke momenten ervaren. Met de surround audio komt er geluid van alle kanten op en lijt het alsof hij samen met de acteurs is</p>
        </div>

        <!-- blok informatie over eten -->
        <div class="film p-4 border border-4 border-dark">
            <h1>Eten en drinken</h1>
            <p>Wij hebben allerlei snacks en drankjes voor een scherpe prijs.<p>
            <p>Wij schenken geen alcohol onder de 18 jaar : NIX18<p>
            <p>Sinds kort hebben wij een sterren-kok. Geniet van onze betaalbare kleine maaltijden.<p>
                <div class="text-center">
                    <img src="/Images/menukaart.png" height="250" alt="vacature Kok">
                </div>
        </div>

        <!-- blok informatie over openingstijden -->
        <div class="film p-4 border border-4 border-dark">
            <h1>OPENINGSTIJDEN</h1>
            <p>Mo 13:00 - 02:00 uur<p>
            <p>Di 13:00 - 02:00 uur<p>
            <p>Wo 13:00 - 02:00 uur<p>
            <p>Do 13:00 - 02:00 uur<p>
            <p>Vr 13:00 - 02:00 uur<p>
            <p>Za 13:00 - 02:00 uur<p>
            <p>Zo GESLOTEN<p>
        </div>

    </div>

    <div class="search-bar">
        <input type="text" placeholder="Zoeken...">
        <input type="submit" value="Zoek">
    </div>

</body>
</html>
