<!DOCTYPE html>
<html>
<head>
    <title>Cinema Website - Films</title>
    <link rel="stylesheet" type="text/css" href="tickets.css">
</head>
<body>
    <h1>Ticket Prijzen</h1>

    <div class="film-category">
        <div class="film-category-column">
            <h2>Normale</h2>
            <!-- Films for 6-11 years old -->
            <ul>
                <li>Film 1</li>
                <li>Film 2</li>
                <li>Film 3</li>
                <!-- Add more films as needed -->
            </ul>
        </div>

        <div class="film-category-column">
            <h2>Premium</h2>
            <!-- Films for 18+ years old -->
            <ul>
                <li>Film X</li>
                <li>Film Y</li>
                <li>Film Z</li>
                <!-- Add more films as needed -->
            </ul>
        </div>
    </div>
</body>
</html>






