<!DOCTYPE html>
<html>
<head>
    <title>Cinema Website - Tickets</title>
    <link rel="stylesheet" type="text/css" href="tickets.css">
</head>
<body>
    <h1 class="titel">Ticket Prijzen</h1>
    
    <div class="description">
        <h2>Over onze tickets:</h2>
        <p>Het Normale Ticket geeft u toegang tot een standaardstoel in de filmzaal. Hoewel dit ticket geen extra voordelen biedt, kunt u toch genieten van de film in een prettige omgeving samen met andere filmliefhebbers.</p>
        <p>Voor degenen die een verhoogde filmervaring willen, raden we ons Premium Ticket aan. Met het Premium Ticket kunt u genieten van het comfort van een comfortabelere stoel in een privégedeelte van de filmzaal. Deze exclusieve zitplaatsen bieden een hoger niveau van privacy, zodat u zich volledig kunt onderdompelen in de film zonder afleiding.</p>
        <p>Of u nu kiest voor het Normale Ticket of het Premium Ticket, we garanderen een plezierige filmervaring. Kies het ticket dat het beste bij uw voorkeuren past en maak uw tijd in onze bioscoop onvergetelijk.</p>
    </div>

    <div class="film-category">
        <div class="film-category-column1">
            <h2 class="titel2">Normale</h2>
            <!-- Films for 6-11 years old -->
            <ul>
                <li>Prijs Kinderen t/m 11 jaar = €10</li>
                <li>Prijs Kinderen 12-17 jaar = €12</li>
                <li>Prijs Volwassenen 18+ = €16</li>
              
                <p class="waarschuwing"> WAARSCHUWING: Deze tickets bevaten geen priveruimte, howel ze alsnog heel erg comfortabel zijn.</p>
                <!-- Add more films as needed -->
            </ul>
        </div>

        <div class="film-category-column2">
            <h2 class="titel2">Premium</h2>
            <!-- Films for 18+ years old -->
            <ul>
                <li>Prijs Kinderen t/m 11 jaar = €13</li>
                <li>Prijs Kinderen 12-17 jaar = €15</li>
                <li>Prijs Volwassenen 18+ = €21</li>

                <p class= "prem"> ATTENTIE: Met de aankoop van deze tickets krijgt u prive ruimte binnen onze zaal + gratis snacks en drank</p>
                <!-- Add more films as needed -->
            </ul>
        </div>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Zoeken...">
        <input type="submit" value="Zoek">
    </div>

</body>
</html>






