html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Calibri; 
}

.film-category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.film-category-column {
    flex-basis: 30%;
}

    .film-category-column h2 {
        text-align: center;
    }

.search-bar {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    border: 2.5px solid black;
    border-color: black;
    position: absolute;
    top: 0;
    left: 80%;
    transform: translateX(-50%) translateY(5%);
}

    .search-bar input[type="text"] {
        padding: 5px;
        width: 500px;
        height: 35px;
        background-color: white;
        color: black;
        border: none;
    }

    .search-bar input[type="submit"] {
        padding: 5px 10px;
        background-color: #FFFFFF;
        border: 1.5px solid black;
        border-color: black;
        cursor: pointer;
    }