body {
}


.titel {
    text-align: center;
    font-family: Calibri;
    top: 50%;
    transform: translate(0%, 140%);
}

.film-category-column1 {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    width: 250px;
    height: 400px;
    top: 50%;
    transform: translate(5%, 35%);
}

.film-category-column2 {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    width: 250px;
    height: 400px;
    top: 50%;
    transform: translate(5%, 35%);
}

.titel2{
    text-align:center;
}

.description {
    font-family: Calibri;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    width: 750px;
    height: 390px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48.5%, -55%);
}

.waarschuwing {
    margin-top: 60px;
}

.prem{
    margin-top: 60px;
}

.search-bar {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    border: 2.5px solid black;
    border-color: black;
    position: absolute;
    top: 0;
    left: 80%;
    transform: translateX(-50%) translateY(5%);
}

    .search-bar input[type="text"] {
        padding: 5px;
        width: 500px;
        height: 35px;
        background-color: white;
        color: black;
        border: none;
    }

    .search-bar input[type="submit"] {
        padding: 5px 10px;
        background-color: #FFFFFF;
        border: 1.5px solid black;
        border-color: black;
        cursor: pointer;
    }

